@model DrugCompare.Models.DashboardViewModel


<h3>Provider Details</h3>


<article>
    <div>
        <table border="1">
            <tr>
                <td align="center">Provider Name</td>
                <td align="center">Provider Address</td>
                <td align="center">Provider Phone</td>
                <td align="center">Provider Experience</td>
                <td align="center"></td>
            </tr>

            @foreach (var item in Model.SelectedProviderVM)
            {
                <tr>
                    <td>
                        @Html.Hidden("ProviderId", @item.ProviderId)
                        <span>@item.ProviderName</span>
                    </td>
                    <td>
                        <span>@item.ProviderAddress</span>
                    </td>
                    <td>
                        <span>@item.ProviderPhone</span>
                    </td>
                    <td>
                        <span>@item.ProviderExperience</span>
                    </td>
                    <td>
                        <a id="btn_selectPlan" class="btn btn-default"><i class="fas fa-sync"></i> Change Provider</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</article>


