@model DrugCompare.Models.DashboardViewModel

<div class="section-header">
    Plan Details
</div>
<style>
    table {
        width: 100%;
    }

        table, table tr {
            border: 1px solid #ddd;
        }
</style>


<article>
    <div>
        <table class="table table-striped" border="1">
            <tr class="bold-tr">
                <td align="center">Plan Name</td>
                <td align="center">Plan Type</td>
                <td align="center">Plan Year</td>
                <td align="center"></td>
            </tr>
            @{ if (Model.SelectedPlanInfoVM != null && Model.SelectedPlanInfoVM.Count > 0)
                {
                    foreach (var item in Model.SelectedPlanInfoVM)
                    {
                        <tr>
                            <td>
                                @Html.Hidden("PlanId", @item.PlanId)
                                <span>@item.PlanName</span>
                            </td>
                            <td>
                                <span>@item.PlanTypeName</span>
                            </td>
                            <td>
                                <span>@item.PlanYear</span>
                            </td>
                            <td>
                                <a id="btn_selectPlan" class="btn btn-default"><i class="fas fa-sync"></i> Change Plan</a>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>

    <article>
        <div class="modal fade" id="selectPlanModalPopUp" role="dialog">
            <div class="modal-dialog err-pop" style="">
                <div class="modal-content">
                    <div class="section-header">
                        Plan Details
                        <button id="DivClose" type="button" class="close popup-Close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="errorMsg1" hidden="hidden">
                        <span style="color:red;">Please select Plans</span>
                    </div>
                    <div class="modal-body" style="text-align:center;">
                        <div>
                            <table class="table-bordered table-striped" style="width:100%" border="1">
                                <tr>
                                    <td>Select</td>
                                    <td>Plan Names</td>
                                </tr>

                                @foreach (var item in Model.PlanListsVM)
                                {
                                    <tr>
                                        <td>
                                            <input id="Planid" name="PlanId" type="radio" planid="@item.PlanId" />
                                        </td>
                                        <td>
                                            @item.PlanName
                                        </td>
                                    </tr>
                                }
                                @*<tr>
                                        <td colspan="2">
                                            <input id="btn_PlanSubmit" type="button" value="Select Plan" class="btn btn-default" />
                                        </td>
                                    </tr>*@
                            </table>
                            <div style="padding-top: 15px;">
                                <input id="btn_PlanSubmit" type="button" value="Select Plan" class="btn" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</article>





<script>
    var SelectedPlan = 0;



    $("#btn_selectPlan").click(function () {
        $('#selectPlanModalPopUp').modal('show');
        $('#errorMsg1').hide();
    });

    $("input[name=PlanId]").click(function () {

        SelectedPlan = $(this).attr("planid");
        $('#btn_PlanSubmit').val("Save Selected Plan").addClass("btn-success");
        //$('#btn_PlanSubmit').addClass("text-success");
        //console.log(SelectedPlan);
    });

    $('#btn_PlanSubmit').click(function () {
        debugger;
        var SelectedPlanId = parseInt(SelectedPlan);
        if (SelectedPlanId > 0) {
            var jqxhr = $.post("PlanList", { 'SelectedPlanId': SelectedPlanId });
            window.location.reload();

        }
        else {
            $('#errorMsg1').show();
        }

    });


</script>
